{
    "presets": ["next/babel"],
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "jsx",
                    "typescript",
                    "tsx",
                    "css",
                    "html"
                ],
                "plugins": [
                    "line-numbers",
                    "show-language"
                ],
                "theme": "tomorrow",
                "css": true
            }
        ]
    ]
}